.error {
    border: 2px solid red;
    outline: 0px solid red;
    border-radius:2px;
}

.messageSuccess{
    color: green;
    font-weight:bold;
}

.messageAlert{
    color: red;
    font-weight:bold;
}